body {
    font-family: Arial, sans-serif;
    padding-top: 20px; /* Jarak dari atas */
    padding-bottom: 20px; /* Jarak dari bawah */
}

.text-center img {
    margin: 0 auto; /* Memaksa gambar untuk benar-benar di tengah */
}

@keyframes gradientAnimate {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}